{%extends "layout.html"%} {% block body %}
<div class="flex justify-center">
    <div class="flex flex-col lg:flex-row items-center max-w-7xl w-[90%] m-4">

        {% for content in content %}
        <div style="background-image: url({{content.bgimg}})" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="{{content.href1}}">{{content.title}}</a></div>
                    <div class=" m-2 text-sm"><a href="{{content.href2}}">{{content.info}}
                    </a></div>
                </div>
            </div>
        </div>
        {% if loop.index == 3 %}
    </div>

</div>
<div class="flex justify-center">
    <div class="flex flex-col lg:flex-row items-center max-w-7xl w-[90%] m-4">
        {% endif %} {% endfor %}
    </div>

</div>{% endblock %}

<!-- </div>
        <div style="background-image: url(https://cv.bkmkn.kodansha.co.jp/9784063621945/9784063621945_w.jpg)" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="https://sanji.to/at-the-mercy-of-the-sky-specials-5427?ref=search">At The Mercy of The Sky</a></div>
                    <div class=" m-2 text-sm"><a href="https://www.imdb.com/title/tt1463151/plotsummary/">A visually striking anime about a bookworm-ish high school student who returns to his hometown and joins the local astronomy club. Saku Ooyagi is back, and both he and his childhood friend Mihoshi Akeno are starting school, but they haven't seen each other since a painful accident years ago. Now Mihoshi is recruiting members for the astronomy club ... and she's fiercely determined to have Saku join the club.
. </a></div>
                </div>
            </div>
        </div>
        <div style="background-image: url(https://m.media-amazon.com/images/I/916t-LkwsgL._RI_.jpg)" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="https://sanji.to/pocos-udon-world-883?ref=search">Poco's Udon World.</a></div>
                    <div class=" m-2 text-sm"><a href="https://myanimelist.net/anime/32673/Udon_no_Kuni_no_Kiniro_Kemari">Taking a break from the hustle and bustle of Tokyo, Souta Tawara returns to his hometown in Kagawa. Though his parents are no longer around, his former home and family-owned udon restaurant reminds him of the times his family was still together. Reminiscing about his childhood, Souta enters the udon restaurant and discovers a grimy young boy sleeping.</a></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="flex justify-center">
    <div class="flex flex-col lg:flex-row items-center max-w-7xl w-[90%] m-4">
        <div style="background-image: url(https://i.pinimg.com/originals/0a/7b/0b/0a7b0b4f086c62d90ab3810ac4dbd327.jpg)" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="https://www.justwatch.com/in/tv-show/naruto">Naruto</a></div>
                    <div class=" m-2 text-sm"><a href="https://www.crunchyroll.com/series/GYQ4MW246/naruto-shippuden">Naruto Uzumaki wants to be the best ninja in the land. He's done well so far, but with the looming danger posed by the mysterious Akatsuki organization, Naruto knows he must train harder than ever and leaves his village for intense exercises that will push him to his limits.</a></div>
                </div>
            </div>
        </div>
        <div style="background-image: url(https://cgtranslations321782266.files.wordpress.com/2018/04/005.jpg)" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="https://www.crunchyroll.com/series/GJ0H7Q5V7/konosuba--an-explosion-on-this-wonderful-world">KONOSUBA -An Explosion on This Wonderful World!</a></div>
                    <div class=" m-2 text-sm"><a href="https://www.imdb.com/title/tt27329086/">One year before a certain useless goddess and NEET extraordinaire hit the scene, Megumin, the "Greatest Genius of the Crimson Magic Clan," is hard at work. Ever since a life-changing encounter in her youth, the young wizard has dedicated her every waking moment to the pursuit of the ultimate offensive magic: Explosion magic. Well, every moment not spent hustling food </a></div>
                </div>
            </div>
        </div>
        <div style="background-image: url(https://cdn.otakutale.com/wp-content/uploads/2019/11/New-Boku-no-Hero-Academia-Hero-Rising-Visual-Trailer-Revealed-500x400.jpg)" class="bg-no-repeat bg-cover bg-center lg:bg-left flex flex-col w-[90%] lg:w-[40%] h-96 m-2 brightness-110 hover:brightness-90 ">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50">
                <div class="flex flex-col items-center justify-center p-2 text-gray-300">
                    <div class="font-bold text-lg m-2 mt-[30%]"> <a href="https://www.crunchyroll.com/series/GYNV9DP2R/my-hero-academia-dubs">My Hero Academia</a></div>
                    <div class=" m-2 text-sm"><a href="https://www.imdb.com/title/tt5626028/">A superhero-loving boy without any powers is determined to enroll in a prestigious hero academy and learn what it really means to be a hero.</a></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
