{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<div class="login-box">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        <div class="user-box">
            <input type="text" id="username" name="username" required>
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <div class="btn-container">

            <a>
                <button>Login</button>

                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>

        </div>
    </form>{% if g.user == None %}{% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}{% endif %}
    <p class="text-white">Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
</div>
<!-- CSS from https://codemyui.com/login-modal-with-floating-placeholder-and-animated-neon-submit-button/ -->
{% endblock %}