{%extends "layout.html"%}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<div class="login-box">
  <h2>Signup</h2>
  <form method="POST" action="{{ url_for('login') }}">
    <div class="user-box">
      <input type="email" id="Email" name="Email" required>
      <label >Email</label>
    </div>
    <div class="user-box">
      <input type="text" id="username" name="username" required>
      <label >Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="pass" required="">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
  
  <p class="gotologin">Already have an account <br><a href="{{url_for('login')}}">Login</a></p>

</div><br>
<div class="btn-container">

    </div>
  </form>
</div>

{% endblock %}